/node_modules/
/var/

# A dummy output file has been committed as a placeholder.  The file will be
# updated by the user as a normal part of development, but their changes should
# not be committed to the repository.
# /srv/output.html
